{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 class="titulo">BÚSQUEDA DE DATOS</h1>

<div class="divc">

<form action="busqueda" method="POST" class="col-md m-auto ">

  {% csrf_token %}

  <div class="form-row justify-content-center">

  <div class="col-auto my-1">
    <input type="text" class="form-control" name="data" id="data" maxlength="100" placeholder="Ej: Nombre, Cedula">
  </div>

  <div class="col-auto my-1">
    <select class="selectpicker" name="select_carrera" id="select_carrera" multiple  data-selected-text-format="count>2"  data-width="fit" data-size="5"  multiple data-actions-box="true" data-live-search="true" title="Todas las carreras">
        {% for i in c %}
          <option  class="options" value="{{ i.carrera }}">{{ i.carrera }}</option>
        {% endfor %}  
    </select>
  </div>

  <div class="col-auto my-1">
    <select class="selectpicker"  name="select_beneficio" id="select_beneficio" multiple data-selected-text-format="count>2"   data-size="5"  data-width="fit" multiple data-actions-box="true" data-live-search="true"  title="Todos los beneficios">
        {% for i in b %}
          <option class="options" value="{{ i.tipo_beneficio }}">{{ i.tipo_beneficio }}</option>
        {% endfor %} 
    </select>
  </div>

  <div class="col-auto my-1">
    <select class="selectpicker" name="select_trimestre" id="select_trimestre" multiple data-selected-text-format="count>2"  data-size="5"   data-width="fit"  multiple data-actions-box="true" data-live-search="true"  title="Todos los trimestres">
        <option class="options" value="nulo">Nulo</option>
    </select>
  </div>

  <div class="form-group col-auto my-1">
    <select class="selectpicker show-tick" name="select_order" id="select_order" data-size="5"  data-width="fit" data-live-search="true"  title="Ordenar por:">
      <option class="options" value="cedula" data-subtext="(Default)">Cedula</option>
      <option class="options" value="nombre">Nombre</option>
      <option class="options" value="carrera">Carrera</option>
      <option class="options" value="tipo_beneficio">Beneficio</option>
    </select>
  </div>

  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Buscar</button>
  </div>

  </div>

</form>

</div>

{% comment 'comentario' %}
  Luego que se realiza una busqueda se muestra una lista de resultados
{% endcomment %}

{% if  search %}

<div class="divc">
  <div class="table-striped text-center" >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Carrera</th>
          <th scope="col">Tipo de beneficio</th>
        </tr>
      </thead>
      <tbody>
        {% for e in search  %}
          <tr>
            <th scope="row"><a href="/DASE/more_info/{{e.cedula}}">{{e.cedula}}</a></th>
            <td>{{e.nombre}}</td>
            <td>{{e.carrera}}</td>
            <td>{{e.tipo_beneficio}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  
{% else %}
   {% if messages %}
        <div class="mensajes"> 
          <ul class="messages">
              {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show col-md-auto m-auto" role="alert">
                  <strong>  {{message}} </strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            {% endfor %}
        	</ul>
	      </div>
    {% endif %}
{% endif %}


{% endblock %}