{% extends "base.html" %}

{% load static %}

{% block content %}

<form action="busqueda" method="post" class="col-md-5 m-auto">

  {% csrf_token %}

  <div class="form-row align-items-center">

  <div class="form-group col-auto my-1">
      <select class="form-control custom-select mr-sm-2" name="filtro1" id="filtro1" onchange="console.log(this.value)" >
        <option selected>Nombre</option>
        <option value="Cedula">Cedula</option>
        <option value="Carrera">Carrera</option>
        <option value="Beneficio">Tipo de Beneficio</option>
        <option value="Trimestre">Trimestre</option>
      </select>
  </div>

  <div class="form-group col-auto my-1">
      <select class="form-control custom-select mr-sm-2" name="filtro2" id="filtro2" onchange="console.log(this.value)" disabled ></select>
  </div>

    <div class="col-auto my-1">
      <input type="text" class="form-control" name="dato" id="dato" maxlength="100" required>
    </div>
    
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>

  </div>

</form>


{% endblock %}