
{% extends "base.html" %}

{% load static %}

{% block content %}

<h1 class="titulo">ANÁLISIS DE DATOS</h1>

<form action="graficas" method="POST" class="col-md m-auto ">

  {% csrf_token %}

  <div class="form-row justify-content-center">

   <div class="col-auto my-1">
    <select  class="selectpicker" name="primary" id="primary" onchange="change_option()" title="Agrupar por: " data-width="fit" required>
	  <option value="tipo_beneficio">Tipo de Beneficio</option>
	  <option value="carrera">Carrera</option>
    </select>
  </div>

  <div class="col-auto my-1">
    <select class="selectpicker" name="secondary" id="secondary"  title="Filtrar por: " data-width="fit" multiple data-actions-box="true" data-selected-text-format="count>2" disabled></select>
  </div>

  <div class="col-auto my-1">
    <select class="selectpicker" name="tipo_grafica" id="tipo_grafica"  title="Tipo de gráfica" data-width="fit" required>
		<option value="BarChart">Gráfica de barra</option>
		<option value="PieChart">Grafica de torta</option>
	</select>
  </div>

   <div class="col-auto my-1">
    <input type="text" class="form-control" name="titulo" id="titulo" maxlength="100" placeholder="Titulo gráfico (opcional)">
  </div>

  <div class="col-auto my-1">
    <button type="submit" class="btn btn-info">+</button>
  </div>

  <div class="col-auto my-1">
    <button type="submit" class="btn btn-primary">Gráficar</button>
  </div>

  </div>

</form>

{% if values %}

	<div class="cgraficas">

		{% load googlecharts %}

		{# container#}
		<div id="out"></div>

		{% googlecharts %}
			{# named data and options can be reused #}
			{% data values "out_data" %}
				{% col "string" "Name" %}"{{ val }}"{% endcol %}
				{% col "number" "Value" %}{{ val }}{% endcol %}
			{% enddata %}
			{# you can also use global javascript variables here, #}
			{# and call functions #}
			{% options "out_options" %}
				kind: "{{tipo_grafica}}",
				options: {
					title: "{{titulo}}",
					width: 600,
					height: 500,
					is3D: "{{dimension}}",
				}
			{% endoptions %}
			{# chart is assembled from container, data and options #}
			{% graph "out" "out_data" "out_options" %}
		{% endgooglecharts %}

	</div>

{% endif %}

{% endblock content %}