{% extends "base.html" %} <!-- Hereda del template base.html -->

{% block content %}

<h1 class="titulo">IMPORTAR DATOS DEL ARCHIVO EXCEL</h1>

<!-- Form para importar el archivo excel -->

<form action="test" method="post" class="col-md-4 m-auto"  enctype="multipart/form-data">

      {% csrf_token %}

      <a class="btn-floating purple-gradient mt-0 float-left">
      <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
            <div class="form-group">
                <label for="exampleInputEmail1 m-auto">SELECCIONE EL ARCHIVO EXCEL</label>
                <input type="file" class="form-control-file" name="excel" accept=".xlsx" required>
            </div>
       </a>

     
      <button type="submit" class="btn btn-primary btn-md btn-block">Importar Excel</button>

</form>

<br><br/>

<!-- Si hay un error en la importacion de los datos del excel -->

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show m-auto text-justify" role="alert">
                <strong>  {{message}} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}