{% extends 'base.html' %}

{% block content %}

<h1 class="titulo">INFORMACIÓN DEL ESTUDIANTE</h1>

<div class="divc">
  <div class="table-striped text-center" >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Carrera</th>
          <th scope="col">Tipo de beneficio</th>
        </tr>
      </thead>
      <tbody>
        {% for i in estudiante  %}
          <tr>
            <td>{{i.cedula}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.carrera}}</td>
            <td>{{i.tipo_beneficio}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock  %}
