{% extends 'base.html' %}

{% block content %}

<h1 class="titulo">INFORMACIÓN DEL ESTUDIANTE</h1>

<div class="divc">
  <div class="table-striped text-center" >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Cedula</th>
          <th scope="col">Nombre</th>
          <th scope="col">Carrera</th>
          <th scope="col">Tipo de beneficio</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{cedula}}</td>
            <td>{{name}}</td>
            <td>{{carrera}}</td>
            <td>{{beneficio}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<h1 class="subtitulo">Datos académicos</h1>

<div class="divc">
  <div class="table-striped text-center" >
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Trimestre</th>
          <th scope="col">IAA</th>
          <th scope="col">IAP</th>
        </tr>
      </thead>
      <tbody>
        {% for i in indices  %}
          <tr>
            <td>{{i.trimestre}}</td>
            <td>{{i.iaa}}</td>
            <td>{{i.iap}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock  %}
