{% extends 'base.html' %}

{% block content %}

<h1 class="titulo">INFORMACIÓN DEL ESTUDIANTE</h1>

    <div class="contenedor">
        <div class="container">
        {% for i in estudiante  %}
            <div class="row">
                <div class="col-sm">Nombre</div>
                <div class="col-sm">{{i.nombre}}</div>
            </div>
            <div class="row">
                <div class="col-sm">Cedula</div>
                <div class="col-sm">{{i.cedula}}</div>
            </div>
             <div class="row">
                <div class="col-sm">Beneficio</div>
                <div class="col-sm">{{i.tipo_beneficio}}</div>
            </div>
            <div class="row">
                <div class="col-sm">Carrera</div>
                <div class="col-sm">{{i.carrera}}</div>
            </div>
        {% endfor %}
    </div>

{% endblock  %}
