<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/IMPORT/import">Importar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/GRAPHICS/graficas">Gráficas</a>
      </li>
      <li class="nav-item  active">
        <a class="nav-link" href="/DASE/busqueda">Búsquedas</a>
      </li>

      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_3"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Usuario: {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                <a class="nav-link" href="/AUTH/LOGOUT">Logout</a>   
              </div>
          </li>
      {% else %}
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cuenta
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                  <a class="dropdown-item" href="/AUTH/REGISTER">Registrarse</a>    
                  <a class="dropdown-item" href="/AUTH/LOGIN">Ingresar</a>
              </div>
          </li>
      {% endif %}
    </ul>
  </div>
</nav>