{% extends 'base.html' %}

{% block content %}

    <div  class="titulo">
        <h1 class="text-center">Olvide mi contraseña</h1>
    </div>
   
    <form method="POST" class="col-md-4 m-auto">

        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1">Ingrese su correo</label>
            <input name="email" class="form-control" placeholder="Ej: example@example.com" type="email" id="id_email" required="true">
        </div>

        <button type="submit" class="btn btn-primary btn-md btn-block">Enviar email</button>

        <a class="btn btn-warning btn-md btn-block" href="/AUTH/LOGIN" role="button">Login</a>

    </form>

{% endblock %}