{% extends 'base.html' %}

{% block content %}

    <div  class="titulo">
        <h1 class="text-center">Cambio de contraseña</h1>
    </div>
   
    <form method="POST" class="col-md-4 m-auto">

    {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputEmail1">Ingrese su contraseña actual</label>
            <input name="old_password" class="form-control" placeholder="" type="password" id="id_old_password" required>
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Ingrese su nueva contraseña</label>
             <input name="new_password1" class="form-control" placeholder="" type="password" id="id_new_password1" required>
             <small id="emailHelp" class="form-text text-muted"></small>
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">Confirme su nueva contraseña</label>
            <input name="new_password2" class="form-control" placeholder="" type="password" id="id_new_password2" required>
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <button type="submit" class="btn btn-primary btn-md btn-block">Actualizar</button>

    </form>

    <br></br>

     <ul class="messages">
        {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-warning alert-dismissible fade show col-md-5 m-auto" role="alert">
                <strong>  {{error}} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          {% endfor %}
        {% endfor %}
    </ul>

{% endblock %}